#myTimer {
    color: black;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

body{
    margin: auto;
    padding: 100px;
}

.container{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.buttons{
    height: 100px;
    display: flex;
    justify-content: space-around;
}


.reset{
    background-color: rgba(171, 228, 105, 0.656);
    width: 200px;
}

.start{
    background-color: rgba(171, 228, 105, 0.656);
    width: 200px;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: black;
    gap: 0;
    background-color: rgba(171, 228, 105, 0.656);
    width: 400px;
    height: 200px;
}

.minus{
    background-color: rgba(171, 228, 105, 0.656);
    width: 50px;
    height: 50px;
}
.add{
    background-color: rgba(171, 228, 105, 0.656);
    width: 50px;
    height: 50px;
}

.add:disabled,
.minus:disabled,
.reset:disabled {
    background-color: grey;
  }